/java02_examples/estructuras_datos/Video07_memoria_estatica_arrays/build/
/java02_examples/estructuras_datos/Video08_memoria_dinamica/nbproject/private/
/java02_examples/estructuras_datos/Video08_memoria_dinamica/build/
