/java02_examples/estructuras_datos/Video07_memoria_estatica_arrays/build/
/java02_examples/estructuras_datos/Video08_memoria_dinamica/nbproject/private/
/java02_examples/estructuras_datos/Video08_memoria_dinamica/build/
/java02_examples/estructuras_datos/Video09_pilas_introduccion/nbproject/private/
/java02_examples/estructuras_datos/Video10_implementacion_pila/nbproject/private/
/java02_examples/estructuras_datos/Video10_implementacion_pila/build/
/java02_examples/estructuras_datos/Video11_pila_agregar_buscar_eliminar/nbproject/private/
/java02_examples/estructuras_datos/Video11-12_pila_agregar_buscar_eliminar/nbproject/private/
/java02_examples/estructuras_datos/Video11-12_pila_agregar_buscar_eliminar/build/
