/java02_examples/estructuras_datos/Video07_memoria_estatica_arrays/build/
/java02_examples/estructuras_datos/Video08_memoria_dinamica/nbproject/private/
/java02_examples/estructuras_datos/Video08_memoria_dinamica/build/
/java02_examples/estructuras_datos/Video09_pilas_introduccion/nbproject/private/
/java02_examples/estructuras_datos/Video10_implementacion_pila/nbproject/private/
/java02_examples/estructuras_datos/Video10_implementacion_pila/build/
/java02_examples/estructuras_datos/Video11_pila_agregar_buscar_eliminar/nbproject/private/
/java02_examples/estructuras_datos/Video11-12_pila_agregar_buscar_eliminar/nbproject/private/
/java02_examples/estructuras_datos/Video11-12_pila_agregar_buscar_eliminar/build/
/java02_examples/estructuras_datos/Video13_clase_Stack/nbproject/private/
/java02_examples/estructuras_datos/Video13_clase_Stack/build/
/java02_examples/estructuras_datos/Video14_clase_Stack/nbproject/private/
/java02_examples/estructuras_datos/Video14_clase_Stack/build/
/java02_examples/estructuras_datos/Video15_pila_objetos/nbproject/private/
/java02_examples/estructuras_datos/Video15_pila_objetos/build/
/java02_examples/estructuras_datos/Video16_referencias_a_objetos/nbproject/private/
/java02_examples/estructuras_datos/Video16_referencias_a_objetos/build/
/java02_examples/estructuras_datos/Video17_referencias_a_arreglos/nbproject/private/
/java02_examples/estructuras_datos/Video17_referencias_a_arreglos/build/
/java02_examples/estructuras_datos/Video18_referencias_al_mismo_arreglo/nbproject/private/
/java02_examples/estructuras_datos/Video18_referencias_al_mismo_arreglo/build/
/java02_examples/estructuras_datos/Video19_listas_enlazadas/nbproject/private/
/java02_examples/estructuras_datos/Video20_crear_lista_agregar_nodo_al_inicio/nbproject/private/
/java02_examples/estructuras_datos/Video20_crear_lista_agregar_nodo_al_inicio/build/
